#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.title {
    align-self: center;
    font-size: 40px;
    margin: 2% 0%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.subtitle {
    margin: 2% 0%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tile-button {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: lightskyblue;
    padding: 2%;
    border-radius: 2%;
    border-color: black;
    border: 100px;
}

.tile-image {
    height: 40px;
    width: 40px;
}